<div class="col-md-2">
  <h4>Categories</h4>
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" ng-repeat="cat in admin.cats"
        ng-class="{'active':admin.isActive(cat)}">
      <a href ng-click=admin.selectCat(cat)>{{ cat }}</a>
    </li>
  </ul>
</div>

<div class="col-md-10">
  <div class="row">
    <add-year ng-if="admin.isActive('Years')"></add-year>
    <add-student ng-if="admin.isActive('Students')"></add-student>
    <add-subject ng-if="admin.isActive('Subjects')"></add-subject>
    <add-assm ng-if="admin.isActive('Assignments')"></add-assm>
  </div>
</div>
