<div class="col-md-2">
  <h4>Subjects</h4>
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" ng-repeat="sub in vm.subjects"
        ng-class="{'active':vm.isActiveSub(sub.id)}">
      <a href ng-click="vm.setSub(sub.id)">{{ sub.name }}</a>
    </li>
  </ul>
</div>
<div class="col-md-5" ng-if=vm.csub>
  <h4>Assignments <small><a ng-click="vm.quickAddAssm(vm.csub)"><span class="glyphicon glyphicon-plus"></span></a></small></h4>
  <assm-view csub="vm.csub" cassm="vm.cassm"></assm-view>
</div>

<div class="col-md-5" ng-if=vm.cassm>
  <h4>
    <span>Scores</span>
    <button class='btn btn-default btn-sm pull-right'
            ng-class="{'active': vm.quickmode}"
            ng-click="vm.setQuick()"><span class="glyphicon glyphicon-fast-forward"></span> Quick Entry</button>
  </h4>
  <quick-entry ng-if="vm.quickmode" cassm="vm.cassm"></quick-entry>
  <edit-scores ng-if="!vm.quickmode" cassm="vm.cassm"></edit-scores>
</div>
