<template>
<div class="row">
<footer class="footer footer-black">

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="logo text-center">
                    <h3>Marks</h3>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2 col-sm-8">
                <div class="links">
                    <ul>
                        <li>
                            <a href="/">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="/contact">
                                Support
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Team
                            </a>
                        </li>
                        <li>
                            <a href="/contact">
                               Contact
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                    <hr />
                    <div class="copyright">
                        <div class="pull-left">
                            &copy; 2017 Nick DiQuattro, made in San Mateo
                        </div>
                        <div class="pull-right">
                            <ul>
                                <li>
                                    <a href="/tos_privacy">
                                        Terms
                                    </a>
                                </li>
                                |
                                <li>
                                    <a href="/tos_privacy">
                                        Privacy
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
</div>
</template>
