<!DOCTYPE html>
<html lang="en" ng-app="Marks">
<head>
  <meta charset="UTF-8">

  <!-- Import CSS -->
  <link href="static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
  <link href="static/bower_components/angular-pickadate/dist/angular-pickadate.css" rel="stylesheet">
  <link href="static/bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">
  <link href="static/css/marks.css" rel="stylesheet">

  <title>Marks</title>

</head>
<body>
<!-- Navigation -->
<navbar></navbar>

<!-- Main View -->
<div class="row">
  <div class="container-fluid" ng-view></div>
</div>

<!-- Import JS Libs -->
<script src="static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="static/bower_components/angular/angular.min.js"></script>
<script src="static/bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
<script src="static/bower_components/angular-route/angular-route.min.js"></script>
<script src="static/bower_components/angular-pickadate/dist/angular-pickadate.min.js"></script>
<script src="static/bower_components/lodash/lodash.min.js"></script>
<script src="static/bower_components/restangular/dist/restangular.min.js"></script>
<script src="static/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="static/bower_components/angular-messages/angular-messages.min.js"></script>

<!-- Marks app Angular JS -->
<script src="static/app/app.js"></script>

<script src="static/app/gradebook/GbookCtrl.js"></script>
<script src="static/app/admin/AdminCtrl.js"></script>

<script src="static/app/layout/NavDrctv.js"></script>
<script src="static/app/admin/components/addYearDrctv.js"></script>
<script src="static/app/admin/components/addStudentDrctv.js"></script>
<script src="static/app/admin/components/addSubjectDrctv.js"></script>
<script src="static/app/admin/components/addAssignmentDrctv.js"></script>

<script src="static/app/gradebook/components/quickEntryDrctv.js"></script>
<script src="static/app/gradebook/components/editScoresDrctv.js"></script>
<script src="static/app/gradebook/components/assmViewDrctv.js"></script>

<script src="static/app/data/DataFactory.js"></script>

<script src="static/app/gradebook/GbookFltrs.js"></script>

<script type="text/ng-template" id="error-messages">
  <span class="text-danger" ng-message="max">Above max score!</span>
</script>
</body>
</html>