<div class="col-md-2">
    <h4>Subjects</h4>
   <ul class="nav nav-pills nav-stacked">
    <li role="presentation" ng-repeat="sub in gbook.subjects" ng-class="{'active':gbook.csub == sub.id}">
        <a href ng-click="gbook.getAssignments(sub.id)">{{ sub.name }}</a>
    </li>
</ul>
</div>{{ activeYear }}
<div class="col-md-5" ng-show=gbook.csub>
    <h4>Assignments</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
            </tr>
        </thead>
        <tr ng-repeat="assm in gbook.assignments" ng-class="{'info':gbook.cassm === assm.id}" ng-click="gbook.getScores(assm.id)">
            <td class="text-center">
                {{ assm.name }}
            </td>
            <td class="text-center">
                {{ assm.date | date:'MMMM d'}}
            </td>
        </tr>
    </table>
</div>

<div class="col-md-5" ng-show=gbook.cassm>
    <h4>Scores</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tr ng-repeat="score in gbook.scores">
            <td class="text-center">{{ score.studref.first_name }}</td>
            <td class="text-center">
                <a editable-text="score.value" e-style="width:50px;" buttons="no" onbeforesave="gbook.upScore($data, score.id)">{{ score.value }}</a>
            </td>
        </tr>
    </table>
</div>
