<div class="col-md-6">
  <h4>{{ vm.formtitle }}</h4>
  <form name="vm.YearForm" ng-submit="vm.addYear()" class="form-horizontal"
        novalidate autocomplete="off">

    <div class="form-group" ng-class="vm.setClass(vm.YearForm.name)">
      <label class="col-md-4 control-label">School Name:</label>
      <div class="col-md-6">
        <input type="text" name="name" class="form-control"
               ng-model="vm.pdata.school" ng-maxlength="64" required>
        <p ng-show="vm.YearForm.name.$error.maxlength" class="help-block">School
          name is too long.</p>
      </div>
    </div>

    <div class="form-group" ng-class="vm.setClass(vm.YearForm.firstday)">
      <label class="col-md-4 control-label">First day of School:</label>
      <div class="col-md-6">
        <input type="date" name="firstday" ng-model="vm.pdata.year"
               class="form-control" required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-4 col-md-6 text-center">
        <button type="submit" class="btn btn-primary"
                ng-disabled="vm.YearForm.$invalid">{{ vm.btext }}
        </button>
      </div>
    </div>

  </form>
</div>

<div class="col-md-6">
  <h4>Saved</h4>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Year</th>
      <th>School</th>
    </tr>
    </thead>
    <tr ng-repeat="year in vm.years" ng-class="vm.isNew(year.id)" >
      <td>{{ year.year | date:'yyyy' }}</td>
      <td>{{ year.school }}</td>
      <td>
        <div class="btn-group btn-group-xs" role="group">
          <button type="button" class="btn btn-default" ng-click="vm.selYear(year.id)">
            <span class="glyphicon glyphicon-asterisk"></span> Activate
          </button>
          <button type="button" class="btn btn-default" ng-class="vm.isEdit(year.id)" ng-click="vm.editYear(year)">
            <span class="glyphicon glyphicon-pencil"></span> Edit
          </button>
          <button type="button" class="btn btn-default" ng-click="vm.delYear(year)">
            <span class="glyphicon glyphicon-remove"></span> Delete
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>
