<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th></th>
  </tr>
  </thead>
  <tr ng-repeat="assm in vm.assignments"
      ng-class="vm.isActiveAssign(assm.id)"
      ng-click="vm.setAssm(assm.id)">
    <td class="text-center">
      {{ assm.name }}
    </td>
    <td class="text-center">
      {{ assm.date | date:'MMMM d'}}
    </td>
    <td>
      <a ng-click="vm.editAssm(assm.id)">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <a ng-click="vm.delAssm(assm.id)">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </td>
  </tr>
</table>
