<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="assm in vm.assignments"
      ng-class="vm.isActiveAssign(assm.id)"
      ng-click="vm.setAssm(assm.id)">
    <td class="text-center">
      {{ assm.name }}
    </td>
    <td class="text-center">
      {{ assm.date | date:'MMMM d'}}
    </td>
    <td>
      <div class="btn-group btn-group-xs text-center" role="group">
        <button type="button" class="btn btn-default"
                ng-click="vm.editAssm(assm)">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button type="button" class="btn btn-default"
                ng-click="vm.delAssm(assm)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
