{% extends "layout.html" %}

{% block title %}Marks{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-2">
        <h4>Subjects</h4>
        <ul class="nav nav-pills nav-stacked">
        {% for subx in subs %}
            {% if subx.name == csub %}
                <li role="presentation" class="active"><a href={{ url_for('view.subview', sub=subx.name) }}>{{ subx.name }}</a></li>
            {% else %}
                <li role="presentation"><a href={{ url_for('view.subview', sub=subx.name) }}>{{ subx.name }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-5">
        <!-- Content HTML -->
        {% if csub %}
            {% include 'view/subview.html' %}
        {% endif %}
    </div>
    <div class="col-md-5">
        {% if scores %}
            {% include 'view/assmview.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}