{% extends "layout.html" %}
{% block title %}Marks - Add an Assignment{% endblock %}
{% block content %}
<h1>Add an Assignment</h1>
    <div class="row">
        <div class="col-md-6">
            <form action="" method="post" name="addassignment">
                {{ form.name.label }}: {{ form.name }}
                <br>
                {{ form.date.label }}: {{ form.date }}
                <br>
                {{ form.scty.label }}: {{ form.scty }}
                <br>
                {{ form.subject.label }}: {{ form.subject }}
                <br>
                {{ form.csrf_token }}
            <input type="submit" value="Add">
            </form>
        </div>
    </div>
{% endblock %}