<template>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form submit.delegate="submit()" class="form-horizontal" validation-renderer="bootstrap-form">
        <!-- Title -->
        <div class="form-group">
          <label>Title</label>
          <select class="selectpicker" data-style="form-control border-input" data-menu-style="" value.bind="profile.title & validate" bootstrap-select>
            <option disabled selected value="">Select Title</option>
            <option value="Ms.">Ms.</option>
            <option value="Mrs.">Mrs.</option>
            <option value="Mr.">Mr.</option>
            <option value="Dr.">Dr.</option>
          </select>
        </div>

        <!-- First Name -->
        <div class="form-group">
          <label>First Name</label>
            <input type="text" class="form-control border-input" value.bind="profile.first_name & validate">
        </div>

        <!-- Last Name -->
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control border-input" value.bind="profile.last_name & validate">
        </div>

        <!-- Submit Button -->
        <div class="form-group">
          <div class="col-md-offset-6">
            <button type="submit" class="btn btn-primary">
              <span if.bind="!isSaving && !saved">Save Changes</span>
              <i if.bind="isSaving" class="fa fa-circle-o-notch fa-spin fa-2x" aria-hidden="true"></i>
              <i if.bind="saved" class="fa fa-check fa-fw fa-2x" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
