<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Score <small>(max: {{ vm.max }})</small></th>
  </tr>
  </thead>
  <tr ng-repeat="score in vm.entered">
    <td class="text-center">{{ score.studref.first_name }}</td>
    <td class="text-center">{{ score.value | PerView: vm.max }}</td>
  </tr>
  <tr>
    <form name="vm.EditForm" autocomplete=off>
    <td>
     <input class="form-control"
            id="stuname"
            type="text"
            ng-model="vm.newScore"
            ng-keypress="vm.setFocus($event, '#score')"
            uib-typeahead="score as score.studref.first_name for score in vm.scores | filter:$viewValue | limitTo:4"
            typeahead-loading="loadingLocations"
            typeahead-no-results="noResults"
            required>
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
    </td>
    <td>
      <input class="form-control" id="score" type="text" name="score" ng-keypress="vm.upScore($event)" ng-model="vm.newValue" required>
    </td>
    </form>
  </tr>
</table>