<div class="col-md-6">
  <h4>Add</h4>
  <form name="sub.SubjectForm" ng-submit="sub.addSub()" class="form-horizontal"
        novalidate>

    <div class="form-group" ng-class="sub.setClass(sub.SubjectForm.subname)">
      <label class="col-md-4 control-label">Subject Name:</label>
      <div class="col-md-6">
        <input type="text" name="subname" class="form-control"
               ng-model="sub.subdata.name" ng-maxlength="64" required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-4 col-md-6 text-center">
        <button type="submit" class="btn btn-primary"
                ng-disabled="sub.SubjectForm.$invalid">Add Subject
        </button>
      </div>
    </div>

  </form>
</div>

<div class="col-md-6">
  <h4>Saved</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tr ng-repeat="subject in sub.subjects" ng-class="{'success': sub.setNew(subject.id)}" >
      <td>{{ subject.name }}</td>
      <td>
        <div class="btn-group btn-group-xs" role="group">
          <button type="button" class="btn btn-default" ng-click="sub.delSub(subject.id)">
            <span class="glyphicon glyphicon-remove"></span> Delete
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>
