<template>
  <style>
  .datepicker{z-index:9999 !important}
  </style>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="assignmentModalLabel">${ title } in ${ current.subject.name }</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" validation-renderer="bootstrap-form">
        <!-- Assignment Name -->
        <div class="form-group">
          <label class="col-md-4 control-label">Name:</label>
          <div class="col-md-6">
            <input type="text" class="form-control border-input" value.bind="newAssignment.name & validate">
          </div>
        </div>
        <!-- Date of Assignment -->
        <div class="form-group">
          <label class="col-md-4 control-label">Date Assigned:</label>
          <div class="col-md-6">
            <div class="input-group border-input">
            <input type="text" class="datepicker form-control border-input"
                   value.bind="newAssignment.date | dateFormat: 'MMMM Do' & validate" bootstrap-datepicker>
                   <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
            </div>
          </div>
        </div>
        <!-- Assignment Type -->
        <div class="form-group" show.bind="mode !== 'edit'">
          <label class="col-md-4 control-label">Type:</label>
          <div class="col-md-6">
            <select class="selectpicker" data-style="form-control border-input" data-menu-style="" value.bind="newAssignment.type & validate" bootstrap-select>
              <option disabled selected value="">Select Type</option>
              <option value="Points">Points</option>
              <option value="Checks">Checks</option>
            </select>
          </div>
        </div>
        <!-- Max Points -->
        <div class="form-group" if.bind="newAssignment.type === 'Points'">
          <label class="col-md-4 control-label">Max Points:</label>
          <div class="col-md-6">
            <input type="number" name="max" class="form-control border-input" value.bind="newAssignment.max & validate">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="left-side">
          <button type="button" click.delegate="submit()" class="btn btn-success btn-simple" data-dismiss="modal">${ btn }</button>
      </div>
      <div class="divider"></div>
      <div class="right-side">
          <button type="button" click.delegate="cancel()" data-dismiss="modal" class="btn btn-danger btn-simple">Cancel</button>
      </div>
    </div>

  </div>
</template>
