<template>
  <require from="../../resources/autocomplete"></require>
  <require from="../converters/score-format"></require>

  <table class='table table-hover'>
    <thead>
      <tr>
        <th></th>
        <th class='text-center'>${ assignment.type }
          <small show.bind="isPoints">
            (max: ${assignment.max})</small></th>
      </tr>
    </thead>
    <tr repeat.for="score of entered">
      <td class="text-center">${ score.studref.first_name }</td>
      <td class="text-center">
        <div if.bind="isPoints">
          ${ score.value  | scoreFormat: assignment}
        </div>
        <div if.bind="!isPoints">
          <i class="fa fa${ score.value === 1 ? '-check': ''}-circle-o fa-2x" aria-hidden="true"></i>
        </div>
      </td>
    </tr>

    <!-- Input Row -->
    <tr>
      <td class="text-center">
        <!-- Name Input -->
          <div class="form-group">
            <autocomplete service.bind="suggestionService"
                          value.bind="score"
                          placeholder="Name"
                          name-focus.bind="nameFocus"
                          score-focus.bind="scoreFocus"
                          is-points.bind="isPoints"
                          checks.call="parseKey(key)">
            <template replace-part="suggestion">
              <span style="font-style: italic">${suggestion}</span>
            </template>
</autocomplete>
</div>
</td>

<!-- Value Input -->
<td class="text-center">
  <div class="form-group">
    <div if.bind="isPoints" class="form-group">
      <input value.bind="quickPoints"
             class="form-control"
             style="width: 5em;"
             placeholder="Score"
             focus.bind="scoreFocus"
             keypress.delegate="parseKey($event.which)" />
    </div>
    <div if.bind="!isPoints">
      <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
    </div>
  </div>
</td>
</tr>
</table>
</template>
