<template>
  <style>
    .bar rect {
      fill: #68B3C8;
    }

    .bar text {
      fill: #fff;
      font: 12px sans-serif;
    }

    .arc text {
      font: 10px sans-serif;
      text-anchor: middle;
    }

    .arc path {
      stroke: #fff;
    }

    .legend {
        font-size: 13px;
      }
      h1 {
        font-size: 15px;
        text-align: center;
    	}
      rect {
        stroke-width: 2;
      }

    .chart-tooltip {
      z-index: 1620;
      position: absolute;
      padding: 10px 10px;
      background: #FFFCF5;
      top: 10px;
      border-radius: 2px;
      display: none;
      width: auto;
      right: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
      transform: translateY(6px);
      transition: transform 0.25s;
      -webkit-backface-visibility: hidden;
      will-change: transform;
    }

    .label {
     font-weight: 600;
    }

  </style>
  <div class="text-center" id="content"></div>
</template>
