<template>
  <require from="../../shared/converters/scoreFormat"></require>

  <table class="table table-hover">
    <thead>
    <tr>
      <th></th>
      <th class="text-center">${ current.assignment.type }
        <small show.bind="current.assignment.isPoints && current.assignment.max !== 0">
          (max: ${current.assignment.max})</small></th>
    </tr>
    </thead>
      <tr repeat.for="score of current.scores">
        <td class="text-center">${ score.student.first_name }</td>
        <td class="text-center" click.delegate="editScore(score)">
          <!-- View Mode -->
          <div if.bind="score.id !== editScoreId" innerhtml.bind="score.value | scoreFormat: score.assignment"></div>

          <!-- Edit Mode -->
          <div if.bind="score.id === editScoreId">
              <input keypress.delegate="deFocus($event.which)"
                     focus.bind="editFocus"
                     blur.trigger="updateScore(score, $index)"
                     value.bind="score.value & validate"
                     type="number"
                     style="width: 3.5em">
          </div>
        </td>
      </tr>
  </table>

</template>
