 <div class="col-md-5">
        <h4>New</h4>
     hi
</div>

<div class="col-md-5">
    <h4>Stored</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Year</th>
                <th>School Name</th>
                <th>Activate</th>
            </tr>
        </thead>
        <tr ng-repeat="year in stored">
            <td class="text-center">{{ year.year }}</td>
            <td class="text-center">
                <a editable-text="year.school" e-style="width:50px;" buttons="no">{{ year.school }}</a>
            </td>
            <td class="text-center"><a href="/_setyear/{{ year.id }}"><span class="glyphicon glyphicon-unchecked"></span></a></td>
        </tr>
    </table>
</div>