{% extends 'layout.html' %}
{% block content %}
<script type="text/javascript" src="/static/js/lib/angular.min.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
{% raw %}

<div ng-app="gradebook" class="row">
    <div class="col-md-2" ng-controller="SubjectsCtrl as subs">
        <h4>Subjects</h4>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-repeat="sub in subs.subjects"><a href="{{ sub.id }}">{{ sub.name }}</a></li>
        </ul>
    </div>
    <div class="col-md-5">
        <h4>Assignments</h4>
    </div>
    <div class="col-md-5">
        <h4>Scores</h4>
    </div>
</div>

{% endraw %}
{% endblock %}
